body {
    background-color: lightblue;
    margin: 0 auto;
}

.container-fluid{
    float: left;
}
.search_div{
    float: right;
}
  li a:hover {
    background-color: #111;
  }
.container{
    width: 100vw;
    height: 100vh;

    margin:auto;
    font-size: 20px;
    font-weight: bold;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr;
    padding: 10px;

}
.header{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
}
.main{
    color: rgb(165, 170, 202);
    text-align: center;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    grid-column-start: 1;
    grid-column-end: 4;
}

